<%- include("header.ejs") -%>
<h2>Count: <%= hiddenCharacters.size %></h2>
    <% hiddenCharacters.forEach((character) => { %>
        <a href="#" id="<%= character %>" class="char" onclick="unhideCharacter('<%= character %>'); return false">
            <%= character %>
        </a>
    <% }); %>

    <input type="hidden" id="user" value="<%=userName%>" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="loader.js"></script>
    <script src="hiddenCharacters.js"></script>
<%- include("footer.ejs") -%>