<%- include("header.ejs") -%>
    <div id="mainPage">
        <h2>Hi, <%=userName%></h2>
        <a href=".." id="GoBackToLoginPageLink">HOME</a>
        <h2><a href="hiddenCharacters?userName=<%=userName%>">Show hidden characters list</a></h2>
        <% firstBatchOfRandomSentences.forEach((sentence) => { %>
        <div id="<%=sentence.char%>" class="sentenceBlock">
            <a href="#" class="char" onclick="showCharacterDetails('<%= sentence.char %>'); return false">
                <%= sentence.char %>
            </a>
            <div class="freq">(freq. <%= sentence.freq %>)</div>
            <div class="buttons">
                <input
                    type="button"
                    class="loadNewSentenceButton"
                    value="Load new sentence"
                    name="<%= sentence.char %>"
                    onclick="loadNewSentence('<%=sentence.char%>')" />
                <input
                    type="button"
                    class="hideCharacterButton"
                    value="Hide character"
                    name="<%= sentence.char %>"
                    onclick="hideCharacter('<%=sentence.char%>')" />
            </div>
            <div class="sentenceContainer">
                <%-  include("sentence.ejs", {jpn: sentence.jpn,
                                            eng: sentence.eng,
                                            character: undefined,
                                            sentenceSplitter: sentenceSplitter,
                                            edict: edict}) %>
            </div>
        </div>
        <% }); %>
    </div>
    <div id="popupCharacterDetails">
    </div>
    <input type="hidden" id="user" value="<%=userName%>" />

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="loader.js"></script>
    <script src="main.js"></script>
<%- include("footer.ejs") -%>