<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Knaji</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</head>

<body>
    <% firstBatchOfRandomSentences.forEach((sentence) => { %>
    <div id="<%=sentence.char%>" class="sentenceBlock">
        <div class="char"><a href="kanjiDetail/<%= sentence.char %>"><%= sentence.char %></a></div>
        <div class="freq">(freq. <%= sentence.freq %>)</div>
        <input 
            type="button" 
            class="loadNewSentenceButton"
            value="Load new sentence" 
            name="<%= sentence.char %>"
            onclick="loadNewSentence('<%=sentence.char%>')" />
        <input 
            type="button" 
            class="hideCharacterButton"
            value="Hide character" 
            name="<%= sentence.char %>"
            onclick="hideCharacter('<%=sentence.char%>')" />
        <div class="jpn"><%= sentence.jpn %></div>
        <div class="kana"><%= sentence.kana %></div>
        <div class="eng"><%= sentence.eng %></div>
    </div>
    <% }); %>
    <input type="hidden" id="user" value="<%=userName%>" />
</body>

</html>